* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    padding: 30px;
    text-align: center;
    background: linear-gradient(to right, orange, yellow);
}

#logo {
    width: 35%;
}


.row {
    display: flex;
    min-height: 100vh;
}

.column {
    padding: 10px;
}

#columna1 {
    width: 27%;
    background-color: orange;
    background-image: url(../images/background.jpg)
}

#columna2 {
    width: 46%;
    background-color: forestgreen;
    color:white;
}

#columna3 {
    width: 27%;
    background-color: yellow;
    background-image: url(../images/background2.png);
}

/* FORM */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 40px 0;
}

.register-form {
    width: 380px;
    padding: 35px;
    background-color: #2e8b2e;
    color: white;
    border-radius: 12px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.register-form input,
.register-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

.register-form .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* FOOTER */
.footer {
    background-color: cyan;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    #columna1,
    #columna2,
    #columna3 {
        width: 100%;
    }

    #logo {
        width: 70%;
    }
}